*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --text-size--responsive: 62.5%; /* 1rem = 16px */

  --text-size-default: 1.6rem;
  --text-size-title: 1.8rem;

  --color-primary: hsl(179, 62%, 43%);
  --color-secondary: hsl(71, 73%, 54%);
  --color-accent-light: hsl(204, 43%, 93%);
  --color-accent-dark: hsl(218, 22%, 67%);

  --text-family: 'Karla', sans-serif;;
}

html {
  box-sizing: border-box;
  font-size: var(--text-size--responsive);
}

body {
  font-family: var(--text-family);
  font-size: var(--text-size-default);
  background-image: var(--gradient-primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  padding: 6rem;
}

.container {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    margin-bottom: 5rem;
    border-radius: 1rem;
    

    width: 55%;
    box-shadow: 5px 5px 20px rgba(0,0,0,.2);
    overflow: hidden;
}

.join-community {
    grid-column: 1 / -1;
    padding: 4rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.join-community__title {
    color: var(--color-primary);
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.join-community__subtitle {
    color: var(--color-secondary);
    font-size: var(--text-size-title);
    font-weight: 700;
    margin-bottom: 1rem;
}

.join-community__paragraph {
    color: var(--color-accent-dark);
    font-size: var(--text-size-default);
    line-height: 1.7;
}

.monthly-sub {
    background-color: var(--color-primary);
    color: var(--color-accent-light);

    display: flex;
    flex-direction: column;

    padding: 4rem;
}

.sub-heading {
    font-size: var(--text-size-default);
    margin-bottom: 2rem;
}

.monthly-sub__pricing {
    color: white;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    
    display: flex;
    align-items: center;
}

.monthly-sub__pricing span {
    color: var(--color-accent-light);
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 1rem;
}

.monthly-sub__subtitle {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.btn {
    font-family: var(--text-family);
    padding: 1.2rem 2.8rem;
    background-color: var(--color-secondary);
    color: white;
    border: none;
    font-size: 1.8rem;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0,0,0,.2);
}

.why-us {
    background-color: hsl(179, 62%, 48%);
    color: var(--color-accent-light);

    display: flex;
    flex-direction: column;
    
    padding: 4rem;
}

.why-us ul {
    list-style: none;
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }